html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#FFondo{
    background-image: url(../img/KOBIE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:50%;
    background-position-y: -40px;
}
#AFondo{
    width: 100%;
    height: adjust;
    background-size: 100% 100%; 
    background-color: rgb(0, 0, 0);

}
#TFondo{
    width:100%;
    height: 400px; 
    background-color: black; 
    background-size: 100% 400px;
    background-repeat: no-repeat;
    border:1px solid rgb(0, 0, 0);
}
/*#encabezado-art,#encabezado-contact,#encabezado-story{
    width:100%;
    height:300px;
    display:table;
    background-image: url(../img/BB_LOGO_DLC.jpg);
    background-size:100% 300px;
    background-repeat: no-repeat;   
}*/
#encabezado-index{
    width: cover;
    height: 500px;
    background-image: none;
    background-size: cover;
    padding-right: 0%;
    

}

#piepagina{
    width: 100%;
    height: 100px;
    background-color:black;
    color: #6b1cb5;
    text-align: center;
    margin-top: -8px;
   padding-top: 30px;
}
hr{
    height:0;
    background-color: currentcolor;
    border:none;
   
   }
   
h2{
    color: black;
    font-weight: bold;
    padding-left: 10px;
    text-align: center;

}

#navegacion-1{
    width: 100%;
    height:300px;
    background-color: none;
    color: white;
}

#navegacion-1 ul{
    display: table-cell;
    list-style: none;
    padding-left: 400px;
}

#navegacion-1 ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-table;    
    text-align: center; 
    border: 0px; 
   
   
}
#navegacion-1 ul li a{
    color:#6b1cb5;
    font-size: 20px;
    background-color: rgba(5, 5, 5, 0.884);
    border: 2.4px outset #6b1cb5; 
    border-radius: 3px;
    
}

#navegacion-1 ul li a:hover{
    text-decoration: none;
    color: rgba(247, 236, 236, 0.774);
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    background: linear-gradient(rgba(0, 0, 0, 0.849) 35%, rgba(226, 230, 20, 0.849) 65%);
  

    }
   
 h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
 .Separacion{ 
     margin:4px;
     color: transparent;
 }

#navegacion-1 ul li a:active{
    background: transparent;
    
}
#navegacion-2{
    width:100%;
    height:100px;
    background-color: rgba(27, 27, 27, 0.925);
    padding-top:2px;
    display: table;
    padding: 0;
    margin: 0;
}
#navegacion-2 ul{
    padding-left: 1px;
   text-align: center;
  list-style-type: none;
   background-color: black;
   height:80px; 
   margin-top: 7px;
   border: 5px rgba(255, 255, 255, 0.514); 
    border-style: double;
}
#navegacion-2 ul li{
    font-size: 20px;
    font-family:'Lucida Fax', 'Lucida Bright', 'Lucida Sans', 'Georgia', 'Times new Roman';
    display: inline-flex;
    margin-top:28px;
    margin-left: 5px;
    border-inline-start: 2px solid rgb(0, 0, 0);
}
#navegacion-2 ul li a{
    display: table;
     list-style-type: none;
     color:#6b1cb5;
     text-decoration: none;

}
#navegacion-2 ul li a:hover{
    width: fit-content;
    height: fit-content;
    color:rgba(226, 230, 20, 0.849);
}
.Cuerpo-story{
    padding-top:10px;
    width:100%;
    height:adjust;
    background-color:black;

}
.Cuerpo-story a{
    color:currentcolor;
    text-decoration:none;
    display:table;
    margin-left:32.5%;
    list-style-type: none;
}
.Cuerpo-story h1{
    font-size: 40px;
   font-family:'Lucida Bright';
   color:#6b1cb5;
   text-align:center;
} 
.Cuerpo-story img{
    width: 80%;
    background-repeat: no-repeat;
}
.Cuerpo-story p{
    margin-left:10%;
    width:80%;
    color: rgb(204, 204, 204);
    
}
.Titulo1,.Titulo2,.Titulo3,.Titulo4{
    color: #6b1cb5;
    font-size:50px;
    padding-top:15px;
    width: 89.6%;
    display:table;
    height:70px;
    background-color: rgb(0, 0, 0);
    margin-left:5.2%;
    border: 1px solid black;
}
.union{
    color: none;
    margin-top:-48px;
}
#Beast, #Hunters, #Weapons, #City{
    text-align:center;
    width:100%;
    display: table; 
    background-color: none;
}
#Beast ul, #Hunters ul,#Weapons ul,#City ul{ 
    padding-top: 10px;
    width:86.5%;
    list-style-type: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color:#2a064b;
    margin-left:5.2%;

}
#Beast ul li{
    padding-left:100px;
    display:table-cell;
    height:100px;
}
#Hunters ul li{ padding-left:100px;
    display:table-cell;
    height:100px;

}
#Weapons ul li{
    padding-left:100px;
    display:table-cell;
    height:100px;
}
#City ul li{
    padding-left:100px;
    display:table-cell;
    height:100px;
}

#img1,#img2,#img3,#img4{
    border: 1px double rgba(245, 245, 245, 0.473);
    border-radius: 5px;
    
}
label{

padding-left: 45%;
font-weight: bold;
color: #6b1cb5;
}
 
input[type='email']{
background-color:rgb(255, 255, 255);
margin-left: 35%;
width: 350px;
height: 30px;
border: 1px solid black;
border-radius: 3%;
padding-left: 2%;
}

input[type='text']{
    
    margin-left: 35%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3%;
    padding-left: 2%;
    }


input[type='submit']{
    touch-action: none;
    margin-left: 40%;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    color:#6b1cb5;
    font-size: 20px;
    }
    input[type='submit']:hover{
        background-color:rgba(226, 230, 20, 0.849);
        color:#6b1cb5;
        
    }

textarea{
    margin-left: 35%;
    width: 350px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5%;
    padding-left: 2%;


}
#posicion{
 margin-left:200px;

}

.imagen-redonda{
width: 250px;
height: 250px;
border-radius: 100%;
border: 2px solid royalblue;
background-image: url(../img/faro.jpg);
background-size: 100% 100%; 
display: table;

}

.imagen-redonda:hover{
 border-radius: 4px;
 height: 350px;
 width: 350px;
 

}/*
@keyframes animatedBackground{

    from{background-position:0 0;}
    to {background-position: 100% 0;} 
}
#animate-area{
    
    background-image: url(../img/mist.png);
    background-position: 0px 0px;
    background-repeat: repeat;
    background-size: cover;

    animation: animatedBackground 15s linear infinite;
    }*/
    .Contactos-Title{ 
        font-family:'Lucida Bright', 'Lucida Sans', 'Lucida Fax';
        font-style: normal;
     color:#6b1cb5;
     text-align: center;
        
    }
    .QS-Title{
        color:blue;
        text-align: center;

    }
  .cuerpo-company{
    width:100%;
    height:adjust;
    background-color:black;

  }
  .cuerpo-company h1{
    font-size: 40px;
    font-family:'Lucida Bright';
    color:rgb(99, 96, 96);
    text-align:center;
    

  }
  .cuerpo-company img{
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
}
.Cuerpo-libro h2{
    font-family:'Lucida Bright', 'Lucida Sans', 'Lucida Fax';
    font-style: normal;
 color:white;
 background-color: black;

}